# Dependencies
SELENIUM=true
TESTNG=true
ASSERTJ=true
LOG4J=true
EXTENT=true
ALLURE=true
POI=true
JACKSON=true
GSON=true
RESTASSURED=true
LOMBOK=true

# Plugins
ENABLE_COMPILER_PLUGIN=true
ENABLE_SUREFIRE_PLUGIN=true
ENABLE_FAILSAFE_PLUGIN=true
ENABLE_ALLURE_PLUGIN=true

# Java
JAVA_VERSION=21

# Utils
GEN_LOG_UTILS=true
GEN_WAIT_UTILS=true
GEN_SCREENSHOT_UTILS=true
GEN_EXTENT_MANAGER=true
GEN_EXCEL_UTILS=true

# Listeners
GEN_TEST_LISTENER=true

# Suites
GEN_SMOKE_SUITE=true
GEN_REGRESSION_SUITE=true
GEN_CROSS_BROWSER_SUITE=true

# Testdata
GEN_USERS_CSV=true
GEN_TESTDATA_EXCEL=true

# Resources
GEN_LOG4J2_XML=true
GEN_ENV_PROPERTIES=true
GEN_LOCATORS_JSON=true
GEN_MESSAGES_PROPERTIES=true