
# ── Framework ─────────────────────────────

# --- Utils ---
GEN_LOG_UTILS=true
GEN_WAIT_UTILS=true
GEN_SCREENSHOT_UTILS=true
GEN_EXTENT_MANAGER=true
GEN_EXCEL_UTILS=true

# --- Listeners ---
GEN_TEST_LISTENER=true

# --- Suites ---
GEN_SMOKE_SUITE=true
GEN_REGRESSION_SUITE=true
GEN_CROSS_BROWSER_SUITE=true

# --- Resources ---
GEN_LOG4J2_XML=true

# --- Test Data ---
GEN_USERS_CSV=true
GEN_TESTDATA_EXCEL=true
GEN_TESTDATA_JSON=true
GEN_LOCATORS_JSON=true

# --- Properties ---
GEN_CONFIG_PROPERTIES=true
GEN_MESSAGES_PROPERTIES=true



# ── POM ───────────────────────────────────

# --- Dependencies ---
ENABLE_EXTENT=true
ENABLE_ALLURE=true
ENABLE_POI=true
ENABLE_JACKSON=true
ENABLE_GSON=true
ENABLE_RESTASSURED=true

# --- Plugins ---
ENABLE_FAILSAFE_PLUGIN=true
ENABLE_ALLURE_PLUGIN=true

# --- java ----
JAVA_VERSION=21